@{
  ViewData["Title"] = "Transactions";
}

<h1>@ViewData["Title"]</h1>

<button type="button" class="btn-block btn-primary" onclick="create()">
  Create new transaction
</button>

</br>
</br>

<table class="table table-bordered">
  <tr>
    <th>Id</th>
    <th>Historic</th>
    <th>Transaction Date</th>
    <th>Amount</th>
    <th>Category</th>
    <th>#</th>
    <th>#</th>
  </tr>

  @{
    foreach (var item in (List<FinancialTransactionModel>)ViewBag.ListTransactions)
    {
      <tr>
        <td>@item.id</td>
        <td>@item.historic</td>
        <td>@item.transactiondate</td>
        <td>@item.amount</td>
        <td>@item.categoryid</td>
        <td>
          <button type="button" class="btn btn-block btn-outline-warning"
            onclick="update(@item.id.ToString())">Editar</button>
          <button type="button" class="btn btn-block btn-outline-warning"
            onclick="remove(@item.id.ToString())">Excluir</button>
        </td>
        <td>

        </td>
      </tr>
    }
  }
</table>

<script>
  function update(id) {
    window.location.href = "../FinancialTransaction/Upsert/" + id;
  }

  function remove(id) {
    window.location.href = "../FinancialTransaction/Remove/" + id;
  }

  function create() {
    window.location.href = "../FinancialTransaction/Upsert";
  }
</script>